.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.header {
  border-radius: 10px;
  padding: 5px;
  background: #55828B;
  color: white;
  font-size: 16px;
  position: relative;
  height: 80px;
  min-width: 0%;
  max-width: 100%;
}
.head {
  position: absolute;
  top: -40px;
  left: 10px;
  text-align: left;
  font-size: 52px;

}
body {
  background-image: url(background_pic.jpg);
  background-size: cover;
  background-position: center;
}

.home {
  align-items: flex-end;
  background: #C9E4CA;
  border-radius: 25px;
  position: absolute;
  right: 300px;
  top: 20px;
}
.home:hover {
  align-items: flex-end;
  background-color: #55828B;
  border: solid 1px;
  border-radius: 25px;
  color: white;
  position: absolute;
  right: 300px;
  top: 20px;
}
.about {
  align-items: flex-end;
  background: #C9E4CA;
  border-radius: 25px;
  position: absolute;
  right: 160px;
  top: 20px;
}
.about:hover {
  align-items: flex-end;
  background-color: #55828B;
  border-radius: 25px;
  border: solid 1px;
  color: white;
  position: absolute;
  right: 160px;
  top: 20px;
}

.profilepic {
  border-radius: 50%;
  border: solid 7px;
  border-color: #364958;
  position: absolute;
  right: 20px;
  top: 25px;
}

.profilepic:hover {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: solid 7px;
  border-color: #364958;
  position: absolute;
  right: 20px;
  top: 25px;
}

.content {
  padding: 50px 0px;
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content-text {
  align-text: center;
  padding: 20px;
  border: solid 4px;
  border-color: #3B6064;
  background-color: #C9E4CA;
}

.content img{
  height: auto;
  width: 430px;
  border-radius: 30%;
}

span {
  color: #3B6064;
}

h1{
  color: #55828B;
}

h2 {
  color: #55828B;
}

h3 {
  color: #55828B;
}
.content img{
  height: auto;
  width: 430px;
  border-radius: 30%;
}
